{% extends 'base/base2.html' %}
{% load static %}
{% block title %}coursePage{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock %}

{% block main_container %}
    <main id="course-container">
        <div class="w1200">
            <ul class="course-list">

                {% for course in courses %}
                <li class="course-item">
                    <a href="{% url 'course:course_detail' course.id %}">
                        <img class="course-img" src="{{ course.cover_url }}"
                            alt="潭州英语">
                        <div class="course-content">
                            <p class="course-info">{{ course.title }}</p>
                            <p class="course-author">{{ course.teacher.positional_title }}</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
{#                <li class="course-item">#}
{#                    <a href="https://www.shiguangkey.com/course/2432">#}
{#                        <img class="course-img" src="../../static/images/python_web.jpg"#}
{#                            alt="潭州英语">#}
{#                        <div class="course-content">#}
{#                            <p class="course-info">django 项目</p>#}
{#                            <p class="course-author">Taka(python讲师)</p>#}
{#                            <p class="course-price free">免费</p>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}

            </ul>
        </div>
    </main>
{% endblock %}
